<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_Core;User ID=coreuser;Password=OSNCVSaQkwzsbl6qMBuX" />
  <add name="security" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_Core;User ID=securityuser;Password=ksNC16ujyHgDFkOMzJvV" />
  <add name="master" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_Master;User ID=masteruser;Password=C4lebA09UlP0pXXJPJF9" />
  <add name="web" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_Web;User ID=webuser;Password=qagJ9wkBwLSeyGiNTiZ2" />
  <add name="messaging" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_Messaging;User ID=messaginguser;Password=6qMGFTouCK4anWXxfBnF" />
  <add name="xdb.processing.pools" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_Processing.Pools;User ID=poolsuser;Password=cQGdkKib8smkeI7f3crW" />
  <add name="xdb.referencedata" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_ReferenceData;User ID=referencedatauser;Password=DTZOvfazdA1SQRT3S7j3" />
  <add name="xdb.processing.tasks" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_Processing.Tasks;User ID=tasksuser;Password=cKQyeaqIUp7zrGvO6aEe" />
  <add name="experienceforms" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_ExperienceForms;User ID=formsuser;Password=39Z1wY4J5UqteH6Uzz4b" />
  <add name="exm.master" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_EXM.Master;User ID=exmmasteruser;Password=YVkVyNiAn95c4Rw8YvUC" />
  <add name="reporting" connectionString="Data Source=WS-M85253;Initial Catalog=sc102_Reporting;User ID=reportinguser;Password=aFn9ht5CH2jFr96cjbpM" />
  <add name="sitecore.reporting.client" connectionString="https://sc102.xconnect" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=A92E8BF2BFCC379EB66706A32FC369C7827F24FA" />
  <add name="solr.search" connectionString="https://localhost:8986/solr" />
  <add name="sitecoreidentity.secret" connectionString="bTEW1tebdwGcnuQKha6tWcRmFuXdKgXGTouwaeKPShM421o22BzuH3X65DFXTaz0kFgSBGbnX8JVHSH1UwarPaY1kRXnWJcqBbrM" />
  <add name="xconnect.collection" connectionString="https://sc102.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=A92E8BF2BFCC379EB66706A32FC369C7827F24FA" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://sc102.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=A92E8BF2BFCC379EB66706A32FC369C7827F24FA" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://sc102.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=A92E8BF2BFCC379EB66706A32FC369C7827F24FA" />
  <add name="xdb.referencedata.client" connectionString="https://sc102.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=A92E8BF2BFCC379EB66706A32FC369C7827F24FA" />
  <add name="EXM.CryptographicKey" connectionString="0x3758325310740556700200207133585441383483578485630555784240805576" />
  <add name="EXM.AuthenticationKey" connectionString="0x9141474067386232930294225574237201908550351086792844141446683623" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
</connectionStrings>